<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My CV</title>
    <link rel="stylesheet" href="{% static 'css/cvdesign.css' %}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <style>
        .main {
            margin-bottom: 15px;
            border-top: 1px solid;
            border-bottom: 1px solid;
            background: lightblue;
            padding: 0 17px;
        }
    </style>
</head>

<body>

    <div class="resume" id="main">
        <div class="resume_left">
            <div class="resume_profile">
                <img src="/media/{{cv.cv_picture}}" alt="profile_pic">
            </div>
            <div class="resume_content">
                <div class="resume_item resume_info">
                    <div class="title">
                        <p class="bold text-ce">{{cv.fullname}}</p>
                        <p class="regular">Software Engineer</p>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-map-signs"></i>
                            </div>
                            <div class="data">
                                {{cv.present_address}}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="data">
                                {{cv.phone_number}}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="data">
                                {{cv.email}}
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-weebly"></i>
                            </div>
                            <div class="data">
                                {{cv.website}}
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="resume_item resume_skills">
                    <div class="title">
                        <p class="bold">skill's</p>
                    </div>
                    <ul>
                        <li>
                            <div class="skill_name">
                                {{cv.skils_title_1}}
                            </div>
                            <div class="skill_progress">
                                <span style="width: {{cv.skills_percentage_1}}%;"></span>
                            </div>
                            <div class="skill_per">{{cv.skills_percentage_1}}%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                {{cv.skils_title_2}}
                            </div>
                            <div class="skill_progress">
                                <span style="width: {{cv.skills_percentage_2}}%;"></span>
                            </div>
                            <div class="skill_per">{{cv.skills_percentage_2}}%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                {{cv.skils_title_3}}
                            </div>
                            <div class="skill_progress">
                                <span style="width: {{cv.skills_percentage_3}}%;"></span>
                            </div>
                            <div class="skill_per">{{cv.skills_percentage_3}}%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                {{cv.skils_title_4}}
                            </div>
                            <div class="skill_progress">
                                <span style="width: {{cv.skills_percentage_4}}%;"></span>
                            </div>
                            <div class="skill_per">{{cv.skills_percentage_4}}%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                {{cv.skils_title_5}}
                            </div>
                            <div class="skill_progress">
                                <span style="width: {{cv.skills_percentage_5}}%;"></span>
                            </div>
                            <div class="skill_per">{{cv.skills_percentage_5}}%</div>
                        </li>
                    </ul>
                </div>
                <div class="resume_item resume_social">
                    <div class="title">
                        <p class="bold">Social</p>
                    </div>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fab fa-facebook-square"></i>
                            </div>
                            <div class="data">
                                <p class="semi-bold">Facebook</p>
                                <p>{{cv.facebook}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-twitter-square"></i>
                            </div>
                            <div class="data">
                                <p class="semi-bold">Twitter</p>
                                <p>{{cv.twitter}}</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fab fa-linkedin"></i>
                            </div>
                            <div class="data">
                                <p class="semi-bold">Linkedin</p>
                                <p>{{cv.linkdin}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="resume_right">
            <div class="resume_item resume_about">
                <div class="title">
                    <p class="bold">About Me</p>
                </div>
                <p>{{cv.about}}</p>
            </div>
            <div class="resume_item resume_work">
                <div class="title">
                    <p class="bold">Work Experience</p>
                </div>
                <ul>
                    {% if cv.first_job %}
                    <li>
                        <div class="date">{{cv.first_job_date}}</div>
                        <div class="info">
                            <p class="semi-bold">{{cv.first_job_title }}</p>
                            <p>{{ cv.first_job }}</p>
                        </div>
                    </li>
                    {% endif %}
                    {% if cv.present_job %}
                    <li>
                        <div class="date">{{cv.present_job_date}}</div>
                        <div class="info">
                            <p class="semi-bold">{{cv.present_job_title}}</p>
                            <p>{{cv.present_job}}</p>
                        </div>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="resume_item resume_education">
                <div class="title">
                    <p class="bold">Education</p>
                </div>
                <ul>
                    <li>
                        <div class="date">{{cv.school_start_date}} - {{cv.school_start_end}}</div>
                        <div class="info">
                            <p class="semi-bold">{{cv.ssc_subject}}</p>
                            <p>{{ cv.school_name }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="date">{{ cv.hsc_start_date }} - {{cv.hsc_start_end}}</div>
                        <div class="info">
                            <p class="semi-bold">{{ cv.hsc_subject }}</p>
                            <p>{{ cv.college_name }}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="resume_item resume_hobby">
                <div class="title">
                    <p class="bold">Hobby</p>
                </div>
                <ul>
                    <li><i class="fas fa-book"></i></li>
                    <li><i class="fas fa-gamepad"></i></li>
                    <li><i class="fas fa-music"></i></li>
                    <li><i class="fab fa-pagelines"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center mb-4">
                <button class="btn btn-warning" id="downloadPdf">
                    Download CV
                </button>
            </div>
        </div>
    </div>

    <script>
        document
            .getElementById("downloadPdf")
            .addEventListener("click", function download() {
                const element = document.getElementById("main");
                html2pdf()
                    .from(element)
                    .save();
            });
    </script>
</body>


</html>