{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title_block %} Sign up{% endblock %}
{% block css_block %}
<style>
    .sign-up {
        width: 425px;
        border: 1px solid #ccc;
        padding: 40px;
        margin-top: 150px;
    }

    .login {
        width: 425px;
        border: 1px solid rgb(137, 217, 219);
        padding: 40px;
        background-color: rgb(171, 252, 252);
    }
</style>

{% endblock %}

{% block body_block %}
<center>
    <div class="form-container">
        <div class="sign-up">
            <h4>Sign Up here</h4><br>
            <form method="POST">
                {{ form|crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success btn-sm">Create Account</button>
            </form>
            <br>
        </div>
        <div class="login my-3">
            <p>Have an account? <a href="#">Login here</a></p>
        </div>
    </div>
</center>

{% endblock %}